@font-face {
  font-family: AnjomanMaxBlack;
  font-style: normal;
  font-weight: normal;
  src: url("../../public/Assets/fonts/woff/AnjomanMax-Black.woff")
      format("woff"),
    url("../../public/Assets/fonts/woff2/AnjomanMax-Black.woff2")
      format("woff2");
}

@font-face {
  font-family: AnjomanMaxMedium;
  font-style: normal;
  font-weight: normal;
  src: url("../../public/Assets/fonts/woff/AnjomanMax-Medium.woff")
      format("woff"),
    url("../../public/Assets/fonts/woff2/AnjomanMax-Medium.woff2")
      format("woff2");
}

.ss05 {
  -moz-font-feature-settings: "ss05";
  -webkit-font-feature-settings: "ss05";
  font-feature-settings: "ss05";
}

* {
  font-family: AnjomanMaxMedium;
  direction: rtl;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
